/*  구글 웹폰트 로딩  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    color: #fff;
    width: 100%;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    width: 100%;
    
}

header .twobox {
    width: 100%;
}

header .twobox .box1 {
    background: rgba(22, 22, 22, 0.8);
    width: 100%;
    height: 50px;
    line-height: 50px;

    position: fixed;
    top: 0;
    z-index: 1000;
}

header .twobox .box1 .top1 {
    color: rgb(241, 241, 241);
    width: 84%;
    margin: 0 auto;
    padding-left: 280px;
}

header .twobox .box1 .logo {
    float: left;
    width: 8%;
}

header .twobox .box1 i {
    margin-left: 50px;
    font-size: 20px;
    margin-top: 13px;
}

header .twobox .box1 .menu {
    float: left;
    font: 76%;
}

header .twobox .box1 .menu li {
    margin: 0 20px;
}


header .twobox .box1 .menu li {
    font-size: 13px;
    float: left;
}

header .twobox .box1 .icon {
    float: right;
    width: 16%;
}

/* 밑에 박스  */

header .twobox .box2 {
    background: rgb(201, 201, 201);
    color: rgb(23, 23, 23);

    position: relative;
    top: 50px;
    width: 100%;
    z-index: 500;

}

header .twobox .box2 nav {
    text-align: center;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
}

header .twobox .box2 nav span {
    color: rgb(44, 44, 255);
}

header .twobox .box2 nav span:hover {
    text-decoration: underline;
}

/* 사진넣기 ~~~ */
.middle {
    width: 100%;
}

.middle .pro {
    /* background: tomato; */
    padding-bottom: 20px;
    padding-top: 90px;

}

.middle .pro .prob {
    width: 100%;
    /* background: aqua; */
    margin: 0 auto;
    text-align: center;

}

.middle .pro .prob h1 {
    color: black;
    font-size: 55px;
    padding: 20px;
}

.middle .pro .prob h2 {
    font-size: 30px;
    color: black;
    padding: 20px;
}

.middle .pro .prob h3 {
    width: fit-content;
    font-size: 15px;
    color: rgb(22, 22, 255);
    margin: 0 auto;
    /* background: tomato; */
    padding-bottom: 15px;
    padding-left: 15px;
}

.middle .pro .prob h3 p {
    float: left;
    /* background: red; */
    margin-right: 15px;
    font-size: 15px;
    display: block;
}

.middle .pro .prob h3 span:hover {
    text-decoration: underline;

}

.middle .pro .prob .proimg {
    width: 100%;
    height: 400px;
    background: url('../imges/아이폰13프로.jpeg') no-repeat center / cover;
}

/* SE 시작-------------------------------------  */

.middle .se {
    /* background: tomato; */
    padding-bottom: 20px;
}

.middle .se .seb {
    width: 100%;
    /* background: aqua; */
    margin: 0 auto;
    text-align: center;
    color: #000;

}

.middle .se .seb h3 {
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;

}

.middle .se .seb h1 {
    font-weight: 700;
    font-size: 40px;
    padding: 15px 0;
}

.middle .se .seb h1 span {
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 25px;
}

.middle .se .seb h2 {
    font-size: 20px;
    padding: 15px 0;
}

.middle .se .seb h4 {
    width: fit-content;
    font-size: 15px;
    color: rgb(22, 22, 255);
    margin: 0 auto;
    /* background: tomato; */
    padding-bottom: 15px;
    padding-left: 15px;
}

.middle .se .seb h4 p {
    float: left;
    /* background: red; */
    margin-right: 15px;
    font-size: 15px;
    display: block;
}

.middle .se .seb h4 p:hover span {
    text-decoration: underline;
}

.middle .se .seb .seimg {
    width: 100%;
    height: 400px;
    background: url('../imges/아이폰se.jpg') no-repeat center / cover;
    padding-bottom: 50px;
}

/* watch 시작------------------------------------ */



.middle .watch {
    /* background: tomato; */
    padding-bottom: 20px;
}

.middle .watch .watb {
    width: 100%;
    /* background: aqua; */
    margin: 0 auto;
    text-align: center;
    color: #000;
}
.middle .watch .watb h1{   
    font-weight: 700;
    font-size: 45px;
    padding: 15px 0 5px 0;
}
.middle .watch .watb h4 {
    color: red;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 500;
}
.middle .watch .watb h2 {
    font-size: 20px;
    padding-bottom: 15px;
}
.middle .watch .watb h3 {
    width: fit-content;
    font-size: 15px;
    color: rgb(22, 22, 255);
    margin: 0 auto;
    /* background: tomato; */
    padding-bottom: 20px;
    padding-left: 15px;
}
.middle .watch .watb h3 p {
    float: left;
    /* background: red; */
    margin-right: 15px;
    font-size: 15px;
    display: block;
}
.middle .watch .watb h3 p:hover span{
    text-decoration: underline;

}

.middle .watch .watb .seimg {
    width: 100%;
    height: 400px;
    background: url('../imges/애플워치.jpg') no-repeat center / cover;
    padding-bottom: 50px;
}

/* pict */


section {
    /* background: rgb(192, 106, 106); */
    width: 100%;
    /* height: 500px; */
    display: block;
    text-align: center;
    position: relative;
}
section .pict1 {
    margin:0 2%;
    margin-bottom: 30px;
    padding-bottom: 40px;
}
section .pict1 .wwdc22 {
    background: url('../imges/wwdc22.jpg') no-repeat center / cover ;
    width: 49%;
    height: 500px;
    float: left;
    position: relative;
}
section .pict1 .wwdc22 .txt1 {
    position: absolute;
    left: 50%;
    top: 75%;
    transform : translate(-50% ,-50%) ;
}
section .pict1 .wwdc22 .txt1 h1{
    font-weight: 600;
    font-size: 30px;
    padding: 15px;
}
section .pict1 .wwdc22 .txt1 h2 {
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 10px;
}
section .pict1 .wwdc22 .txt1 h3 {
    color: rgb(70, 70, 255);
}
section .pict1 .wwdc22 .txt1 h3:hover{
    text-decoration: underline;
}
section .pict1 .myoung {
    background: url('../imges/명동애플스토어.jpg') no-repeat center / cover;
    width: 49%;
    height: 500px;
    float: right;
    position: relative;
}
section .pict1 .myoung .txt2{
    position: absolute;
    left: 50%;
    top: 13%;
    transform : translate(-50% ,-50%) ;
}
section .pict1 .myoung .txt2 h1 {
    font-weight: 700 ;
    font-size: 30px;
    padding: 13px 0;
}
section .pict1 .myoung .txt2 h2 {
    font-size: 20px;
    padding-bottom: 15px;
}
section .pict1 .myoung .txt2 h3 {
    padding-bottom: 15px;
}
section .pict1 .myoung .txt2 h3:hover {
    text-decoration: underline;
}
/* --------------------------------------------pict2 -----------------------------*/

section .pict2 {
    /* background: tomato; */
    margin:0 2%;
    margin-bottom: 30px;
    padding-bottom: 70px;
}

section .pict2 .studio-box {
    float: left;
    width: 47%;
    /* background: red; */
    margin: 0 1.5% ;
    height: 512px;
    position: relative;
}
section .pict2 .air-box {
    float: right;
    width: 47%;
    background: black;
    margin:0 1.5%;
    height: 512px;
    position: relative;
}

section .pict2 .studio img{    
    /* background: url('../imges/스튜디오\ 디스플레이.png') no-repeat center / cover; */
    width: 100%;
    /* height: 500px; */
    /* float: left; */
    height: 455px;
    margin-top: 100px;
    
}
section .pict2 .studio-box .txt3 {
    /* background: orange; */
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: black;
}
section .pict2 .studio-box .txt3 h2 {
    font-size: 50px;
    margin-bottom: 15px;
}
section .pict2 .studio-box .txt3 h3 {
    font-size: 25px;
    margin-bottom: 15px;

}
section .pict2 .studio-box .txt3 .more {
    margin-left: 80px;
    width: fit-content;
    
}
section .pict2 .studio-box .txt3 p {
    display: block;
    float: left;
    margin-right: 10px;
    color: rgb(46, 46, 255);
    
}
section .pict2 .studio-box .txt3 p:hover{
    text-decoration: underline;
}

section .pict2 .air img {
    width: 100%;
    /* height: 500px; */
    /* float: right; */
    height: 455px;
    margin-top: 100px;
}
section .pict2 .air-box .txt4 {
    /* background: red; */
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: white;
}
section .pict2 .air-box .txt4 h2{
    font-size: 45px;
    margin-bottom: 15px;
}
section .pict2 .air-box .txt4 h2 span {
    color: rgb(74, 33, 253);
}

section .pict2 .air-box .txt4 h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
section .pict2 .air-box .txt4 .more {
    margin-left: 40px;
    width: fit-content;
    
}
section .pict2 .air-box .txt4 p {
    display: block;
    float: left;
    margin-right: 10px;
    color: rgb(46, 46, 255);
}
section .pict2 .air-box .txt4 p:hover{
    text-decoration: underline;
}

/* ---------------------------pict3 ------------------------------*/

section .pict3 {
     /* background: tomato; */
     margin:0 2%;
     margin-bottom: 30px;
     padding-bottom: 70px;
}

section .pict3 .jup-box {
    float: left;
    width: 47%;
    /* background: red; */
    margin: 0 1.5% ;
    height: 531px;
    position: relative;
}
section .pict3 .jup-box img {
    width: 100%;
    height: 531px;  
}
section .pict3 .jup-box .txt5 {
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translate(-50%, -50%);
    color: white;
}
section .pict3 .jup-box .txt5 h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 7px; 
    padding: 5px;
}
section .pict3 .jup-box .txt5 h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 7px;
}
section .pict3 .jup-box .txt5 h4 {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
section .pict3 .jup-box .txt5 .more {
    color: rgb(38, 38, 255);
}
section .pict3 .jup-box .txt5 .more:hover{
    text-decoration: underline;
}

section .pict3 .pachin-box {
    float: left;
    width: 47%;
    /* background: red; */
    margin: 0 1.5% ;
    height: 531px;   
    position: relative;
}
section .pict3 .pachin-box img {
    width: 100%;
    height: 531px;  
}
section .pict3 .pachin-box .smallTV{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    color: white
}
section .pict3 .pachin-box .smallTV .TV {
    font-weight: 700;
    font-size: 20px;
}
section .pict3 .pachin-box .smallTV .TV i{
    margin-right: 5px;
}
section .pict3 .pachin-box .txt6{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    color: black;
}
section .pict3 .pachin-box .txt6 h2{
    color: yellow;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 10px;

}
section .pict3 .pachin-box .txt6 h3{
    color: yellow;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;

}
section .pict3 .pachin-box .txt6 h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
section .pict3 .pachin-box .txt6 .more {
    color: rgb(255, 255, 255);
}
section .pict3 .pachin-box .txt6 .more:hover{
    text-decoration: underline;
}

/* ------------------------------------foot -------------------------------------------*/

footer{
    color: black;
    background: white;
}
footer .foot-box {
    display: block;
    width: 84%;
    /* background: violet; */
    margin: 0 auto;
}
footer .foot-box .ftop {
    padding: 20px  30px;
    line-height: 15px;
    border-bottom: 1px solid #000;
}
footer .foot-box .fmid {
    position: relative;
}
footer .foot-box .fmid label {
    display: block;
    /* background: aqua; */
    font-size: 15px;
    font-weight: 500;
    padding: 11px;
    

}
footer .foot-box .fmid li {
    font-size: 12px;
    padding: 10px;
}
footer .foot-box .fmid .fmid1 {
   
    float: left;
    width: 20%;
    /* background: aqua; */
}
footer .foot-box .fmid .fmid2 {
    float: left;
    width: 20%;
    
}
footer .foot-box .fmid .fmid3 {
    float: left;
    width: 20%;
    
}
footer .foot-box .fmid .fmid4 {
    float: left;
    width: 20%;
   
}
footer .foot-box .fmid .fmid5 {
    float: left;
    width: 20%;
}
footer .foot-box .ffoot {

}
footer .foot-box .ffoot .ff-t {
    padding: 15px;
    
}
footer .foot-box .ffoot .ff-t a {
    color: blue;
}
footer .foot-box .ffoot .ff-t a:hover{
    text-decoration: underline;
}

footer .foot-box .ffoot .ff-m {
    border-top: 1px solid #000;
    font-size: 15px;
    overflow: hidden;
    
}
footer .foot-box .ffoot .ff-m .ff-m1 {
    float: left;
    width: 35%;

}
footer .foot-box .ffoot .ff-m .ff-m2 {
    float: left;
    width: 40%;
}
footer .foot-box .ffoot .ff-m .ff-m2 a {
    border-right: 1px solid #000;
    margin-left: 5px;
    padding: 10px;
}
footer .foot-box .ffoot .ff-m .ff-m3 {
    float: right;
    width: 10%;
    margin-right: -70px;
}
footer .foot-box .ffoot .ff-m .ff-m3 a {
    display: block;
    
    height: 18px;
}
footer .foot-box .ffoot .ff-m .ff-m3 a:hover{
    text-decoration: underline;
}
footer .foot-box .ffoot .ff-f {
    margin-top: 10px;
    padding: 5px;
    font-size: 10px;
}




























